@import "colors";

.game-display,
.report-game-modal {

  &.report-game-modal {
    .modal-content,
    .modal-dialog {
      width: 75rem;
    }

    .table {
      margin-bottom: 0;
    }

    tr td {
      border: 0;
    }

    tr:first-child {
      margin-top: 1rem;

      td {
        cursor: pointer;

        &:hover,
        &.selected {
          background-color: lighten($blue, 50);
          border-radius: 1rem;
        }
      }
    }

    .winner {
      height: 1rem;
    }

  }

  .team-score {
    color: $grey;
    font-weight: normal;
  }

  .start-game-button {
    float: right;
  }

  .player-card {
    border-radius: 0.5rem;
    border: 1px solid $grey;
    height: 8rem;
    margin: 2rem auto;
    padding-right: 1rem;
    width: 33rem;
    background: white;

    .player-info {
      margin-bottom: 2rem;

      .label {
        float: right;
      }
    }

    .player-avatar {
      float: left;
      margin-right: 1rem;
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
}
