.add-league-button,
.invite-player-button {
  float: right;
  margin-bottom: 1rem;
}

.leagues-table,
.player-table {
  > tbody > tr > td {
    vertical-align: middle;
    white-space: nowrap;

    .player-name {
      display: inline-block;
      margin: 0 1rem;
    }

    .progress {
      margin-bottom: 0;
    }
  }
}
